@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="form-group">
        <div class="input-group">
            <label class="input-group-addon">测试按钮</label>
            <input onclick="testButton()" class="form-control" placeholder="请点击这里">
        </div>
    </div>
    <script>
        function testButton() {
            alert("你好");
        }
    </script>
</body>
</html>
